html{
    display: inline;
    text-align: center;
    margin: auto;
}
article{    
    display: inline;
    padding: .3em;
    justify-content: space-evenly
}

#a1{ 
    border-style: solid;
    border-width: 2px;
    border-color: green;
    padding: .3em;
}

#a2{ 
    border-style: solid;
    border-width: 2px;
    border-color: red;
    padding: .3em;
}